body {
  background-color: cornsilk;
  font-family: 'Abel', sans-serif;
  background-image: url("https://besthqwallpapers.com/Uploads/18-12-2019/116184/light-wooden-texture-close-up-wooden-backgrounds-wooden-textures-light-brown-backgrounds.jpg");
  text-shadow: lightgrey;
}
h1 {
  text-align: center;
}

h4 {
  text-align: center;
  text-decoration: underline;
}

#total-cost {
  display: none;
}

li:hover {
  background-color: lightgreen;
  border: 1px gray solid; 
  width: 15em; 
} 

img {
  display: flex;
  border: 3px solid gray;
}

.form-group {
  border: 3px solid gray;
}


#inline {
  margin: 1em;
  border: 1em;
  padding: 1em;
  text-align: justify;
}