body {
  background-color: cornsilk;
  font-family: 'Abel', sans-serif;
}
h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

#total-cost {
  display: none;
}

li:hover{
  background-color: lightgreen;
} 

img {
  display: flex;
}

#inline {
  margin: 1em;
  border: 1em;
  padding: 1em;
  text-align: justify;
}